body {
    font-size: 20px;
}

.quiz-container {
    max-width: 1200px;
    margin: 55px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.question-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.correct-answer {
    color: green;
    font-weight: bold;
}


.quest-content {
    font-weight: 800;
}

.correct-option {
    color: green;
    font-weight: bold;
}
